@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.dtpForm{
  width: 160px;
}
.dtpDate{
  cursor: pointer;
  overflow: visible;
  width: 80px;
}
.dtpTime{
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

